.App {
  text-align: center;
}
.my-image {
  display: inline-block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  margin-left: 100px;
  object-fit: cover;
}

.about-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: space-evenly;
  min-height: 100vh;

}
.App-header {
  background-color: white;
  display: flex;
  padding: 2%;
  font-family: 'Roboto' !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: navy;
}
.project-header{
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  background-color: navy;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto' !important;
  justify-content: first baseline;
  font-size: 48px;
  color: white;
}
.card-item{
  font-family: 'Roboto' !important; 
}
.project-img{
  height: 50% !important;
}
.project-container{
  padding: 2%;  
  background-color: white;
}
.about-text{
  color: gray;
  font-size: 24px;
  font-family: 'Roboto' !important;
  width: 80%;
}
h2{
  color: gray;
  font-size: 24px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
